# UltraMsg WhatsApp
ULTRAMSG_INSTANCE=
ULTRAMSG_TOKEN=your_Token
ULTRAMSG_BASE_URL=https://api.ultramsg.com
ULTRAMSG_TIMEOUT=30
WHATSAPP_DEFAULT_COUNTRY_CODE=91
WHATSAPP_NOTIFICATIONS_ENABLED=1

# Judge0 Coding Execution
JUDGE0_API_KEY=your_API_key
JUDGE0_API_BASE_URL=https://judge0-ce.p.rapidapi.com
JUDGE0_RAPIDAPI_HOST=judge0-ce.p.rapidapi.com
